[flake8]
select = B,C,E,F,P,T4,W,B9
max-line-length = 120
ignore =
        F401,F403,F405,W503,W504
extend-ignore = E203
per-file-ignores =
        tinynn/converter/operators/tflite/generated_ops.py: E501
        tinynn/converter/schemas/tflite/schema_generated.py: E301, E302, E501, E704
        tinynn/converter/schemas/torch/aten_schema.py: E501
        tinynn/converter/schemas/torch/quantized_schema.py: E501
        tinynn/converter/schemas/torch/torchvision_schema.py: E501
        tests/converter_op_test.py: E704
        examples/*: E402
exclude =
        ./.git
        ./docs
        ./examples/qat/out/
        ./examples/tracer/out
        ./models
        ./myenv
        ./tests/models/
        ./tests/out/
        ./build/
        ./debugging/
        ./examples/mixed_qat/mobilenet_mixed_qat.py
        ./examples/models
